* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #f7f7f7;
    font-family: futura;
}

*::selection {
    background-color: black;
    color: #fff;
}

.nav {
    /* height: 90px; */
    width: 100%;
    /* background-color: red; */
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    justify-content: space-between;
}

.navpart1 {
    height: 83px;
    overflow: hidden;
}

.navpart1 svg {
    display: flex;
}

.navpart2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 30px;

}

.navpart2 .links a {
    text-decoration: none;
    color: black;
    margin-right: 90px;
    font-size: 13px;
    text-transform: uppercase;
}

.navpart2 .icons {
    background-color: #f7f7f7;
    height: 20px;
    width: 150px;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}

.icons>i {
    font-size: 15px;
    font-weight: 500;
}

.cursor {
    height: 120px;
    width: 120px;
    background-color: palegreen;
    color: white;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
}

.page1 {
    min-height: 100vh;
    width: 100%;
    padding: 0 4vw;
    padding-top: 7vw;
    line-height: 1;
    position: relative;
    letter-spacing: -px;


}

.page1>h2 {
    font-size: 12vw;
    text-transform: uppercase;
    font-weight: 700;
    font-family: futura;

}

.video-container {
    margin-top: 1vw;
    height: 100vh;
    width: 100%;
    position: relative;
}

.video-container>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;


}

.video-container .play {
    font-size: 2vw;
    font-family: futura;
    background-color: black;
    color: #fff;
    position: fixed;
    padding: 3vw 2vw;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
    text-transform: uppercase;
}

.page2 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 4vw;
    padding-top: 2vw;

}

.box {
    height: 100%;
    width: 31%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    scale: 1.2;
}

.info {
    height: 50px;
    width: 60%;
    border-radius: 20px;
    z-index: 9;
    background-color: rgb(247, 216, 221);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

}

.info>p {
    font-size: 1.4vw;
    font-weight: bolder;
    text-transform: uppercase;
}

.text {
    min-height: 60vh;
    width: 100%;
    padding: 2vw 4vw;
    display: flex;


}

.left {
    display: flex;
    align-items: self-start;
    justify-content: center;
    height: 40vh;
    width: 60%;
    margin-top: 3vw;
}

.left>h2 {
    font-size: 4vw;

    font-family: futura;
}

.right {
    padding: 0 3vw;

    height: 45vh;
    width: 37%;
    margin-top: 3vw;

}

.right>h5 {
    font-size: 1.4vw;
    font-weight: 100;
    margin-top: 2vw;

}

.right>h5>a {
    text-decoration: none;
    font-size: 0.7vw;
    color: black;
    border-bottom: 2px solid black;
    cursor: pointer;
}

.page3 {
    min-height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3vw;
    margin-bottom: 15vw;
    
}

.child {
    height: 55vh;
    width: 35%;
}


.child>img {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    

}

.child>h4 {
    text-transform: uppercase;
    
    text-align: center;
    font-size: 1.5vw;
    font-weight: 100;
    color: grey;
    
}

.child>h6 {
    font-size: 1vw;
    text-align: center;
    margin-top: 2vw;
}
.line{
    width: 100%;
    /* border-bottom-width: 80%; */
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    border-bottom: 2px solid grey;
    margin-bottom: 5vw;
    
}
.line>p{
    font-size: 1vw;
}
.page4 {
    /* background-color: red; */
    min-height: 100vh;
    width: 100%;
    font-family: futura;
    padding: 3vw 27vw;
    margin-bottom: 4vw;
}
.page4>h3{
    font-size: 4vw;
    margin-bottom: 5vw;
    text-align: center;

}
.page4>button{
    background-color: black;
    color: white;
    padding: 1.5vw 9vw;
    border-radius: 10vw;
    margin-bottom: 5vw;
    text-align: center;
    margin-left: 10vw;
}
.page4>p{
    font-size: 1vw;
    text-align: center;
    
}
.page5{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
}
.text1{
    height: 100%;
    /* background-color: blue; */
    width: 30%;
}
.text1>h2{
    margin-top: 2vw;
    margin-bottom: 7vw;
    font-size: 2vw;
}
.text1>P{
    margin-bottom: 3vw;
    font-size: 0.9vw;
    font-weight: 300;
    
}
.text1>h5{
    font-size: 1vw;
    width: 11vw;
    border-bottom: 2px solid black;

}
.leftimage{
    height: 100%;
    width: 30%;
    /* background-color: lightblue; */
}
.leftimage>img{
    height: 80%;
    object-fit: cover;
    object-position: center;
}
.rightimage{
    height: 100%;
    width: 30%;
    /* background-color: lightgreen;  */
}
.rightimage>img{
    height: 80%;
    object-fit: cover;
    object-position: center;
}
.page6{
    margin-top: 3vw;
    padding: 5vw;
    border-top: 1px solid grey;
    text-align: center;
}
.page6>h5{
    font-size: 1.5vw;

}









@media (max-width:600px) {
    .nav {
        height: 90px;
        width: 100%;
        /* background-color: red; */
        position: fixed;
        z-index: 99;
        display: flex;
        align-items: flex-start;
        padding: 10px;
        justify-content: space-between;
    }
    
    .navpart1 {
        height: 83px;
        overflow: hidden;
    }
    .imaget{
        font-size: 1vw;
    }

    
    
    .navpart1 svg {
        display: flex;
        
    }
    
    .navpart2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 30px;
    
    }
    
    .navpart2 .links a {
        text-decoration: none;
        color: black;
        margin-right: 90px;
        font-size: 13px;
        text-transform: uppercase;
    }
    
    .navpart2 .icons {
        background-color: #f7f7f7;
        height: 20px;
        width: 150px;
        padding: 14px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 20px;
    }
    
    .icons>i {
        font-size: 15px;
        font-weight: 500;
    }
    
    .cursor {
        height: 120px;
        width: 120px;
        background-color: palegreen;
        color: white;
        position: fixed;
        transform: translate(-50%, -50%) scale(0);
        border-radius: 50%;
    }
    .page1 {
        min-height: 50vh;
        width: 100%;
        padding: 0 5vw;
        padding-top: 25vw;

    }

    .page1>h2 {
        font-size: 12vw;
        letter-spacing: -2px;
    }

    .video-container {
        margin-top: 2vw;
        height: 25vh;
        width: 100%;
        position: relative;
    }

    .page2 {
        height: 90%;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        /* padding: 2vw 5vw; */


    }

    .box {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        margin-bottom: 1vw;
    }

    .box>img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        scale: 1;
    }

    .info {
        height: 50px;
        width: 50%;
        border-radius: 20px;
        z-index: 9;
        background-color: rgb(247, 216, 221);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;

    }

    .info>p {
        font-size: 5vw;
        font-weight: bolder;
        text-transform: uppercase;
    }

    .text {
        min-height: 100vh;
        width: 100%;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
    }

    .left {
        display: flex;
        align-items: self-start;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 0 9vw;
    }

    .left>h2 {
        font-size: 9vw;
       
    }

    .right{
        min-height: 100%;
        width: 100%;
    }
    .right>h5 {
        margin-top: 4vw;
        font-size: 5vw;
        font-weight: 100;
        text-align: center;
        /* margin-top: 2vw; */

    }

    .right>h5>a {
        text-decoration: none;
        font-size: 4vw;
        color: black;
        border-bottom: 2px solid black;
        cursor: pointer;
    }

    .page3 {
        min-height: 80vh;
        width: 100%;
        /* background: red; */

    }

    .child {
        height: 50vh;
        width: 70%;
        
        
        
    }


    .child>img {
        height: 80%;

    }

    .child>h4 {
        text-transform: uppercase;
        font-size: 6vw;
        font-weight: 100;
        color: grey;

    }

    .child>h6 {
        font-size: 1vw;
        text-align: center;
        margin-top: 2vw;

    }
    .line{
        width: 100%;
        /* border-bottom-width: 80%; */
        display: flex;
        justify-content: space-between;
        padding: 0 2vw;
        border-bottom: 2px solid grey;
        margin-bottom: 7vw;
        
    }
    .line>p{
        font-size: 2.4vw;
    }

    .page4 {
        /* background-color: red; */
        min-height: 80vh;
        width: 100%;
        font-family: futura;
        padding: 5vw 3vw;
        align-items: center;
        
    }
    .page4>h3{
        width: 100%;
        font-size: 8vw;
        margin-top: 5vw;
        margin-bottom: 8vw;
        text-align: center;
    
    }
    .page4>button{
        background-color: black;
        color: white;
        padding: 7vw 20vw;
        border-radius: 10vw;
        margin-bottom: 7vw;
        margin-left: 12vw;
    }
    .page4>p{
        font-size: 5vw;
        text-align: center;
        margin-bottom: 5vw;
    }
    .page5{
        height: 100vh;
        width: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 4vw;
    }
    .text1{
        height: 100%;
        width: 100%;
    }
    .text1>h2{
        font-size: 10vw;
        margin-top: 2vw;
        margin-bottom: 7vw;
    }
    .text1>P{
        font-size: 4vw;
        font-weight: 300;
        margin-bottom: 3vw;
        
    }
    .text1>h5{
        width: 100%;
        font-size: 4vw;
        border-bottom: 2px solid black;
    
    }
      .leftimage{
        display: none;
    }
    .rightimage{
        height: 40%;
        width: 30%;
        margin-left: 22vw;
    }
    .rightimage>img{
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
   
    
    .page6{
        min-height: 100%;
        margin-top: 3vw;
        padding: 5vw;
        border-top: 1px solid grey;
        text-align: center;
        width: 100%;
    }
    .page6>h5{
        font-size: 3.6vw;
    
    }
    
    
}